#############################################################################################################################
# Lưu ý
# Đổi tên file .env.example thành .env
# Nên sử dụng tài khoản google phụ để lấy api key YoutubeAUH vì youtube có thể sẽ bị khóa tài khoản.
##
# Attention
# Rename file .env.example to .env
# It's recommended to use a secondary Google account to obtain the YoutubeAUH API key as YouTube may lock the account.
#############################################################################################################################


# Token của bot (Required)
# Your Bot Token (Required)
# https://discord.com/developers/applications

TOKEN = ""

# URI cơ sở dữ liệu mongo (Optional)
# Your Mongo database URI (Optional)
# https://www.mongodb.com/

MONGO = ""

# Xem https://github.com/retrouser955/discord-player-youtubei (Optional)
# View https://github.com/retrouser955/discord-player-youtubei (Optional)

YoutubeAUH = ""

# Xem https://openweathermap.org/api (Optional)
# View https://openweathermap.org/api (Optional)

WEATHER_API_KEY = ""

# Xem https://aistudio.google.com/apikey
# View https://aistudio.google.com/apikey

GEMINI_API_KEY = ""