modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 2003
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "GH"
mode = "sequential"
author = 47514967

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "nodemon index.js "

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows.workflow.metadata]
outputType = "console"
